<a href="https://colab.research.google.com/github/Chikuji/analise-python/blob/master/aula1_pratica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Na pratica 20200420

In [1]:
print("Felipe Kenji")

Felipe Kenji

In [0]:
#atribuição de variável

nome_do_filme = "Totoro, o filme"

In [3]:
print(nome_do_filme)

Totoro, o filme

In [0]:
#importando a biblioteca pandas
import pandas as pd

In [8]:
#exportar um arquivo de filmes CSV (documentação: https://pandas.pydata.org/pandas-docs/stable/reference/io.html)

filmes = pd.read_csv("https://raw.githubusercontent.com/alura-cursos/introducao-a-data-science/master/aula0/ml-latest-small/movies.csv")
#filmes será um dataframe
filmes.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [10]:
#trocar os nomes das colunas de inglês para portugês
filmes.columns = ["filmeId","titulo","generos"]
filmes.head()

   filmeId  ...                                      generos
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [0]:
# lendo a documentação de um método/atribulo
# basta colocar ? na frente do comando

?filmes.head

In [0]:
?filmes

In [34]:
#Quantidade de flmes no dataset filmes
len(filmes)

9742

In [15]:
#exportar dataset de avaliação dos filmes

avaliacoes = pd.read_csv("https://github.com/alura-cursos/introducao-a-data-science/blob/master/aula0/ml-latest-small/ratings.csv?raw=true")
avaliacoes.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [16]:
#.head() só visualisa 5 linhas, para descoprir a forma do dataset usaremos .shape

avaliacoes.shape

(100836, 4)

In [17]:
#para saber o numero de linhas len()

len(avaliacoes)

100836

In [18]:
#trocar os nomes das colunas de inglês para portugês

avaliacoes.columns = ["usuarioId","filmeId","nota","momento"]
avaliacoes.head()

   usuarioId  filmeId  nota    momento
0          1        1   4.0  964982703
1          1        3   4.0  964981247
2          1        6   4.0  964982224
3          1       47   5.0  964983815
4          1       50   5.0  964982931

In [24]:
#separar as avaliações do filmeId1 com o método avaliacoes.query("filmeId==1")
#ciando assim uma tabela apenas do filmeId1
avaliacoes_filme1 = avaliacoes.query("filmeId==1")
avaliacoes_filme1.head()

      usuarioId  filmeId  nota     momento
0             1        1   4.0   964982703
516           5        1   4.0   847434962
874           7        1   4.5  1106635946
1434         15        1   2.5  1510577970
1667         17        1   4.5  1305696483

In [25]:
#para analisar estatísticas gerais dessa tabela .describe()
avaliacoes_filme1.describe()

        usuarioId  filmeId        nota       momento
count  215.000000    215.0  215.000000  2.150000e+02
mean   306.530233      1.0    3.920930  1.129835e+09
std    180.419754      0.0    0.834859  2.393163e+08
min      1.000000      1.0    0.500000  8.293223e+08
25%    155.500000      1.0    3.500000  8.779224e+08
50%    290.000000      1.0    4.000000  1.106855e+09
75%    468.500000      1.0    4.500000  1.348523e+09
max    610.000000      1.0    5.000000  1.535710e+09

In [27]:
#calculando apenas a media do filme1
avaliacoes_filme1.mean()

usuarioId    3.065302e+02
filmeId      1.000000e+00
nota         3.920930e+00
momento      1.129835e+09
dtype: float64

In [28]:
#calcular toda a tabela de avaliacoes
avaliacoes.describe()

           usuarioId        filmeId           nota       momento
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

In [30]:
#obter os valores da coluna de notas 
avaliacoes["nota"]

0         4.0
1         4.0
2         4.0
3         5.0
4         5.0
         ...
100831    4.0
100832    5.0
100833    5.0
100834    5.0
100835    3.0
Name: nota, Length: 100836, dtype: float64

In [31]:
#agora vamos calcular a média das notas apenas do filme1
avaliacoes_filme1["nota"].mean()

3.9209302325581397

In [32]:
#Queremos calcula a média de todos os filmes. O método .group(filmeId)
#ira agrupar a coluna de fimes, depois pegaremos a coluna["nota"] e tiramos a média .mean()

notas_medias_por_filme =avaliacoes.groupby("filmeId")["nota"].mean()
notas_medias_por_filme.head()

filmeId
1    3.920930
2    3.431818
3    3.259615
4    2.357143
5    3.071429
Name: nota, dtype: float64

In [33]:
#Quantidade de filmes no dataset avaliacoes
len(notas_medias_por_filme)

9724